body{
    margin: 0;
    background-color: rgb(165, 90, 234);
    nav {
        /* styling */
        background-color: rgba(244, 239, 232, 0.914);
        /* flex */
        display: flex;
        justify-content: space-around;
        align-items: center;

        ul {
            margin: 0;
            padding-left:0;


            display: flex;
            gap:.8rem;
            li {
                list-style: none;

                a {

                    text-decoration: none;

                }

            }
        }
    }

    main {

        height: 100vh;
        background-color: rgb(185, 178, 178);
        display: flex;

        aside {

            background-color: rgba(48, 45, 45, 0.753);
            width: 30%;
            border: 1px solid red;

        }

        section {

            border: 1px solid green;
            width: 70%;
            display: flex;
            gap: .5rem;
            /* flex-direction: row; */
            flex-wrap: wrap;
            padding: 10px;
            /* padding-bottom: 10px; */

            article {

                border: 1px solid gray;
                width: 250px;
                height: 300px;

            }

        }

    }

    footer {

        height: 30vh;
        width: 100%;

    }

}