body{
    margin: 0;
    background-color: rgb(165, 90, 234);
    nav {
        /* styling */
        background-color: rgba(244, 239, 232, 0.914);
        /* flex */
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 6vh;
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;

        ul {

            margin: 0;
            padding-left:0;
            width: 20%;
            display: flex;
            gap:.8rem;
            justify-content: space-around;
            li {
                list-style: none;

                a {

                    text-decoration: none;
                    color: rgb(64, 64, 247);

                }

            }
        }
    }

    main {

        height: 100%;
        background-color: rgb(185, 178, 178);
        display: flex;

        aside {

            background-color: rgba(48, 45, 45, 0.753);
            width: 30%;

        }

        section {

            width: 70%;
            display: flex;
            justify-content: center;
            grid-column-gap: 3rem;
            grid-row-gap: 2rem;
            /* flex-direction: row; */
            flex-wrap: wrap;
            padding: 30px;

            article {

                width: 250px;
                height: 350px;
                box-shadow: 0px 0px 8px 1px black;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background-color: rgb(211, 198, 182);
                transition: 1s transform , 1s background-color;

                img {

                    border-radius: 10px;
                    width: 100%;
                    height: 35%;

                }

                p {

                    padding-left: 10px;

                }

                button {

                    width: 100px;
                    border: none;
                    background-color: rgb(0, 199, 0);
                    color: white;
                    padding: 8px;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    font-size: 16px;

                }

            }

            article:hover {

                transform: scale(1.15);
                cursor: pointer;
                /* opacity: .5; */
                background-color: black;

            }

            article:hover img {

                opacity: 0;
                background-color: black;

            }

            article:hover p {

                color: white;
                z-index: 9999;

            }

            article:hover button {

                opacity: .5;
                background-color: black;
                color: rgba(255, 255, 255, 0.205);

            }

        }

    }

    footer {

        height: 20vh;
        width: 100%;

    }

}